.center{
    text-align: center;
}

body{
    background-color:#ff6f91;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.title-text{
    font-family: 'Satisfy', cursive;
    padding: 40px;
    font-size: 3.2em;
    color: #f9f871;
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.navbar{
    background-color: white;
  }

.script {
    font-family: 'Gloria Hallelujah', cursive;
    color: #f9f871;
}    

.img-right{
    display: block;
    margin-right: 90px;
    width: 50%;
}

.body {
    font-size: 20px;
    color:  #ffc75f;
    font-style: italic;
    padding: 1.2cm;
}

.active {
    font-style: italic;
    text-decoration: underline;
}
.pls-work{
    padding: 100px 100px 0px 175px;
    position: absolute;
    height: 60%;
    width: 60%;
         
}
.right {
    float: right;  
}


ul, li, .body{
    padding: 5px;
    margin: 5px;
}
h4{
    color: #f9f871;    
}
.column-two {
    padding: 40px;          
}

.d-block{
    margin: auto;
}
.card-title {
    color: #845EC1;
}

.card-img-top{
    height: 300px;    
}
.hours {
    color: #f9f871;
    text-align: center;
}
.title-text-two {
    color: #f9f871;
    text-align: center;
    font-family: 'Satisfy', cursive;
    padding: 40px;
}
footer {
    width: 100%;
    background-color: #D65DB1;
    padding: 5%;
    color: #FFF;
}

.fa {
    padding: 20px;
    font-size: 60px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color:purple;
}

@media (max-width: 600px) {
  .carousel-caption {
      display: none;
  }
}
